.App {
  text-align: left;
  /* margin: 20px; */
  width: calc(100% - 16px);
  border: 8px ridge #F5ECFD;
  border-radius: 10px;
  height: 615px;
  background: #F5ECFD;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b66bf0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Basic styling for the chat window */
.chat-window {
  margin: 10px 10px 10px 10px;
  font: 13px system-ui;
  /* width: 350px; */
  height: 500px;
  /* border: 5px solid #521f7c; */
  list-style: none;
  overflow-y: scroll; /* Enable scrolling for chat history */
}

.chat-heading{
  text-align: center;
  background: #b66bf0;
  /* margin: 5px 10px 0 10px; */
  font: 2rem "Fira sans", sans-serif;
  /* font-weight: bolder; */
  color: white;
}

.chat-message {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 5px;
  border-radius: 5px;
}

.chat-message.incoming {
  background-color: #F4FDEC;
  float: left;
}

.chat-message.li {
  /* padding: 10px 0; */
  margin-left: -35px;
  margin-right: 5px;
  height: 37px;
  border-radius: 10px;
}

.chat-message.outgoing {
  background-color: #D9F8BE;
  float: right; /* Align outgoing messages to the right */
}

.chat-input {
  width: 325px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

#chat-form {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
}

#submit-btn {
  background-image: radial-gradient(#F5ECFD, #b66bf0);
  border-radius: 16px;
  border-width: 2px;
}